.DS_Store
.editorconfig
node_modules/
dist/
lib/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
undefined/

yarn-error.log
yarn.log

build_dist/
.vscode
.vscode/
.idea/
npm-debug.log.*
package-lock.json
yarn.lock
report.*
npm-shrinkwrap.json
.history/